<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SensorDataDemo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F0EA780208863A63B015D275D3D582DBC767E2A3</string>
				<key>dateExpires</key>
				<string>07/03/21</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0EA780208863A63B015D275D3D582DBC767E2A3</string>
						<key>dateExpires</key>
						<string>07/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AzureIoTHubClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CKQ28Q23M5</string>
						<key>name</key>
						<string>Agreeya Mobility Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0EA780208863A63B015D275D3D582DBC767E2A3</string>
						<key>dateExpires</key>
						<string>07/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AzureIoTUtility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CKQ28Q23M5</string>
						<key>name</key>
						<string>Agreeya Mobility Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0EA780208863A63B015D275D3D582DBC767E2A3</string>
						<key>dateExpires</key>
						<string>07/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AzureIoTuAmqp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CKQ28Q23M5</string>
						<key>name</key>
						<string>Agreeya Mobility Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0EA780208863A63B015D275D3D582DBC767E2A3</string>
						<key>dateExpires</key>
						<string>07/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AzureIoTuMqtt.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CKQ28Q23M5</string>
						<key>name</key>
						<string>Agreeya Mobility Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0EA780208863A63B015D275D3D582DBC767E2A3</string>
						<key>dateExpires</key>
						<string>07/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaAsyncSocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CKQ28Q23M5</string>
						<key>name</key>
						<string>Agreeya Mobility Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0EA780208863A63B015D275D3D582DBC767E2A3</string>
						<key>dateExpires</key>
						<string>07/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaMQTT.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CKQ28Q23M5</string>
						<key>name</key>
						<string>Agreeya Mobility Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0EA780208863A63B015D275D3D582DBC767E2A3</string>
						<key>dateExpires</key>
						<string>07/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CKQ28Q23M5</string>
						<key>name</key>
						<string>Agreeya Mobility Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0EA780208863A63B015D275D3D582DBC767E2A3</string>
						<key>dateExpires</key>
						<string>07/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NSLogger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CKQ28Q23M5</string>
						<key>name</key>
						<string>Agreeya Mobility Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0EA780208863A63B015D275D3D582DBC767E2A3</string>
						<key>dateExpires</key>
						<string>07/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CKQ28Q23M5</string>
						<key>name</key>
						<string>Agreeya Mobility Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0EA780208863A63B015D275D3D582DBC767E2A3</string>
						<key>dateExpires</key>
						<string>07/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SAMKeychain.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CKQ28Q23M5</string>
						<key>name</key>
						<string>Agreeya Mobility Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0EA780208863A63B015D275D3D582DBC767E2A3</string>
						<key>dateExpires</key>
						<string>07/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyTimer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CKQ28Q23M5</string>
						<key>name</key>
						<string>Agreeya Mobility Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0EA780208863A63B015D275D3D582DBC767E2A3</string>
						<key>dateExpires</key>
						<string>07/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CKQ28Q23M5</string>
						<key>name</key>
						<string>Agreeya Mobility Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7k</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F0EA780208863A63B015D275D3D582DBC767E2A3</string>
						<key>dateExpires</key>
						<string>07/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>armv7k</string>
							</array>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>F0EA780208863A63B015D275D3D582DBC767E2A3</string>
								<key>dateExpires</key>
								<string>07/03/21</string>
								<key>type</key>
								<string>iOS Distribution</string>
							</dict>
							<key>entitlements</key>
							<dict>
								<key>application-identifier</key>
								<string>CKQ28Q23M5.com.mobiliya.atdevices.watchkitapp.watchkitextension</string>
								<key>com.apple.developer.healthkit</key>
								<true/>
								<key>com.apple.developer.team-identifier</key>
								<string>CKQ28Q23M5</string>
								<key>com.apple.security.application-groups</key>
								<array>
									<string>group.com.mobiliya.atdevices</string>
								</array>
								<key>get-task-allow</key>
								<false/>
							</dict>
							<key>name</key>
							<string>ZengearWatchApp Extension.appex</string>
							<key>profile</key>
							<dict>
								<key>UUID</key>
								<string>10ee1a2f-fd08-4552-8744-1becaff54f1b</string>
								<key>name</key>
								<string>ATDevicesDistributionWatchAppExtension</string>
							</dict>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>CKQ28Q23M5</string>
								<key>name</key>
								<string>Agreeya Mobility Inc</string>
							</dict>
						</dict>
					</array>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>CKQ28Q23M5.com.mobiliya.atdevices.watchkitapp</string>
						<key>com.apple.developer.team-identifier</key>
						<string>CKQ28Q23M5</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.mobiliya.atdevices</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>ZengearWatchApp.app</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>fd174c51-e33c-4a57-ac2f-2414f85bab0f</string>
						<key>name</key>
						<string>ATDevicesDistributionWatchApp</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CKQ28Q23M5</string>
						<key>name</key>
						<string>Agreeya Mobility Inc</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>CKQ28Q23M5.com.mobiliya.atdevices</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>CKQ28Q23M5</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.mobiliya.atdevices</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Zengear.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ca3cc27b-e93d-40ee-81ed-ea0e34beff8a</string>
				<key>name</key>
				<string>ATDistribution_16May</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>CKQ28Q23M5</string>
				<key>name</key>
				<string>Agreeya Mobility Inc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
